.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button {
  background-color: #9fa3a7;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.Department {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #9ea5ae;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 200px;
  padding: 10px;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-item {
  display: block;
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ffffff;
}

.show {
  display: block;
}
.fullform {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

.form-container {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.department {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: left;
}

.btn-report{
  display: block;
  width: 55%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-report:hover {
  background-color: #0069d9;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
